# Secrets
.env
.env.*
!.env.example

# Fichiers Stripe sensibles
Stripe/stripe_backup_code.txt

# Python
__pycache__/
*.py[cod]

# Django local
db.sqlite3

# Static collect
staticfiles/

# Éditeurs
.vscode/
.idea/
staticfiles/

# SIG nationaux trop lourds
data/sources_biodiversite/

# QGIS / shapefiles
*.shp
*.dbf
*.shx
*.prj
*.qmd
*.cpg